!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"http-equiv" => "X-UA-Compatible", content:"IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title Mesin | A modular Rails 5 application
    = stylesheet_link_tag    "mesin/application", media: "all"
    = csrf_meta_tags
  %body.hold-transition.skin-blue.sidebar-mini{ data: { contasset: "c-#{controller_name} ac-#{action_name}" } }
    .wrapper
      -# Main Header
      %header.main-header
        -# Logo
        = link_to '#', class: 'logo' do
          -# Mini logo
          %span.logo-mini
            %b A
            LT

          -# Large logo
          %span.logo-lg
            %b Admin
            LTE
        -# Header Navbar: style can be found in header.less
        %nav.navbar.navbar-static-top
          -# Sidebar toggle button
          = link_to "#", class: "sidebar-toggle", data: { toggle: 'offcanvas' }, role: 'button' do
            %span.sr-only Toggle navigations

          -# Navbar right menu
          .navbar-custom-menu
            %ul.nav.navbar-nav

              -# Messages: style can be found in dropdown.less
              %li.dropdown.messages-menu
                = link_to "#", class: "dropdown-toggle", data: { toggle: 'dropdown' } do
                  = icon "fa-envelope-o"
                  %span.label.label-success 4
                %ul.dropdown-menu
                  %li.header You have 4 messages
                  %li
                    -# Inner menu: Contains the actual data
                    %ul.menu
                      %li
                        -# Start message here
                        = link_to "#" do
                          .pull-left
                            = image_tag 'mesin/avatar5.png', class: 'img-circle', alt: 'User image'
                          %h4
                            %p This is message content
                        -# End message
              %li.dropdown.user.user-menu
                = link_to "#", class: "dropdown-toggle", data: { toggle: 'dropdown' } do
                  = image_tag "mesin/avatar5.png", class: 'user-image', alt: 'User image'
                  %span.hidden-xs Opan Mustopah

                %ul.dropdown-menu
                  -# User image
                  %li.user-header
                    = image_tag "mesin/avatar5.png", class: 'img-circle', alt: 'User image'
                    %p
                      Opan mustopah
                      %small Member since 2016
                  -# Menu body
                  %li.user-body
                    .row
                      - 3.times do
                        .col-xs-4.text-center
                          = link_to "Followers", "#"
                  %li.user-footer
                    .pull-left
                      = link_to "Profile", "#", class: "btn btn-default btn-flat"
                    .pull-right
                      = link_to "Sign out", "#", class: "btn btn-default btn-flat"
      -# End Main Header

      -# Left side column: Main menu
      %aside.main-sidebar
        -# Sidebar: style can be found in sidebar.less
        %section.sidebar
          -# Sidebar user panel
          .user-panel
            .pull-left.image
              = image_tag "mesin/avatar5.png", class: 'img-circle', alt: "User image"
            .pull-left.info
              %p Opan Mustopah
              = link_to "#" do
                = icon 'fa-circle', class: 'text-success', text: 'Online'
          -# Sidebar menu: Style can be found in sidebar.less
          %ul.sidebar-menu
            %li.header MAIN NAVIGATION
            %li.active
              = link_to "#" do
                = icon 'fa-dashboard', text: "Dashboard"
      -# = yield
    = javascript_include_tag "mesin/application"
